<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsEnhancementSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsEnhancementSuite.Properties.Settings>
            <setting name="ImageSaveFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="JpegCompression" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="CliboardHotkey" serializeAs="String">
                <value>196694</value>
            </setting>
            <setting name="TextfileHotkey" serializeAs="String">
                <value>196692</value>
            </setting>
            <setting name="ShowHotkey" serializeAs="String">
                <value>196675</value>
            </setting>
            <setting name="ShowBrowserHistoryHotkey" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ShowCommandBarHotkey" serializeAs="String">
                <value>131104</value>
            </setting>
            <setting name="CommandBarRankings" serializeAs="String">
                <value />
            </setting>
        </WindowsEnhancementSuite.Properties.Settings>
    </userSettings>
</configuration>